.title{
  background-color: #B4245D;
  height: 43px;
  width: 101%;
  float: left;
  margin: -2% -1% 0% -1%;   
}

.title2{
  background-color: #E72E77;
  height: 60px;
  width: 100%;
  float: left;
  margin-top: -1px;   
}

#align{
  margin-left: 55px;
  color:white;
  font-size: 14px;
  font-family: Georgia;
  font-weight: 100px;
  margin-top:15px;
}

.card{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background: rgb(250, 246, 246);
}

.carde{
  position:absolute;
  margin-top: 720px;
  margin-left:20px;
  width: 97.1%;
  height: 255px;
  background: rgb(253, 223, 228);
}

.Image{
  margin-top: 55px;
  height:20rem;
  width:20%;
}

#setlogo{
  margin-left:27px;
  margin-top:-4px;
  position:absolute
}


#loading{
  position:fixed;
  width:100%;
  height:100vh;
  background: rgb(255, 224, 224) url('./photos/logo.png')
  no-repeat center;
  z-index:999999;
}

#signin{
  margin-left:870px; 
  position: absolute;
  margin-top: 80px;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;

}
.signinimg{
  margin-top:250px;
  position:absolute;
  margin-left:170px;
}


form > input {
  padding: 9.5px;
  width: 23%;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1.3vmax;
  border: none;
  border-bottom: 1px solid rgba(70, 70, 70, 0.5);
}

#fname
{
  position:absolute;
  margin-top:180px;
  margin-left: 800px;
}

#lname
{
  position:absolute;
  margin-top:250px;
  margin-left: 800px;
}

#loc{
  position:absolute;
  margin-top:320px;
  margin-left: 800px;
}

#emailid{
  position:absolute;
  margin-top:390px;
  margin-left: 800px;
}

#number{
  position:absolute;
  margin-top:530px;
  margin-left: 800px;
}

#pass{
  position:absolute;
  margin-top:460px;
  margin-left: 800px;
}

#contactbutton{
  margin-left:800px;
  margin-top:40px;
  background-color:#E72E77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

#contactimg{
  position:absolute;
  margin-top:75px;
  margin-left:130px;
  opacity:0.5;


}
.preNav{
  background-color:  #E72E77;
  display:grid;
   grid-template-columns:13fr 4fr ;
  color: white;
  height: 0px;
  width: 100%;
  float: center;
  margin-top: -23px; 
  margin-left: 160px;
  position:absolute;
}

.preNav > div{
  padding: 1.3vmax  4vmax;
  display: flex;
  align-items: center;
  position:relative;
}

.preNav > div >span{
  color: white;
  font-size: 1.5vmax;
  font-weight: 100;
  z-index:1;
}

.preNav > div svg{
  fill: #fafafa;
}

.preNav > div svg:hover{
  fill: rgb(255, 255, 255);
}

.preNav > div > a{

  color: white;
  font-size: 1.1vmax;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  margin: 2vmax;
  text-decoration: none;
}

.preNav > div > a:hover{
  color: black;
}

#center {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
  font-family:papyrus;
  font-size:40px;
  color:purple;
}


#centered {
  position: absolute;
  top: 79%;
  transform: translate(105%, -50%);
  font-family:papyrus;
  font-size:50px;
  color:rgb(186, 79, 79);
}

#explore{
  font-family:'Times New Roman', Times, serif;
  font-size:30px;
  text-decoration:none;
  border:solid;
  border-radius: 0.1px;
  width:30%;
  text-align:center;
  border-color: grey;
}



#footer{
  display:block;
  height:10px;
  background-color:grey;
  text-decoration: none;
}
#footer2{
  float:right;
}

#eve{
  margin-top:945px;
  font-family:'Times New Roman', Times, serif;
  font-size:25px;
  color: #6c1336;
  margin-left:20px;

}

.card1{
  position:static;
  margin-top: 2px;
  width: 47%;
  height: 100px;
  background:rosybrown;
  border-radius: 15px;
  margin-left:20px;
  display: inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
  color:black;
}

.card2{
  position:static;
  margin-top: 2px;
  width: 47%;
  border-radius: 15px;
  height: 100px;
  background:#cfbebd;
  margin-left:20px;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
  color:black;
}


.card3{
  position:static;
  margin-top: 2px;
  width: 47%;
  border-radius: 15px;
  height: 100px;
  background:#cfbebd;
  margin-left:20px;
  display: inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
  color:black;

}

.card4{
  position:static;
  margin-top: 2px;
  width: 47%;
  height: 100px;
  border-radius: 15px;
  background:rosybrown;
  margin-left:20px;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
  color:black;

}

.card5{
  position:static;
  margin-top: 2px;
  width: 47%;
  height: 100px;
  border-radius: 15px;
  background:rosybrown;
  margin-left:20px;
  display: inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
  color:black;

}

.card6{
  position:static;
  margin-top: 2px;
  width: 47%;
  height: 100px;
  border-radius: 15px;
  background: #cfbebd;
  margin-left:20px;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
   color:black;
}

#follow{
  margin-left:385px;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  margin-top:100px;
  color:#6c1336;

}

#im{
  margin-top:-135px;
  position:static;
  display:inline-block;
}
#imm{
  margin-top:-135px;
  position:static;
  float:right;
  margin-right:20px;
}

.card7{
  background-color: rgb(247, 243, 243);
  height:300px;
  width:100%;
  margin-top:60px;
}

#footer{
  background-color: #E72E77;
  height:100px;
  font-size:25px;
  position:relative;
  margin-top:20px;
  color:white;
  float:center;
  text-align:center;
  text-decoration:none;
}

#imp{
  float:right;
  margin-top:1px;
}


.venuecard{
  margin-top: 20px;
  width: 100%;
  height: 1050px;
  background: rgb(250, 246, 246);
}


.venuecardsignin{
  margin-top: 20px;
  width: 100%;
  height: 1000px;
  background: rgb(250, 246, 246);
}

#venuecard1{
margin-top:100px;
width: 26%;
height: 350px;
margin-left:70px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#margin1{
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#map1{
text-decoration:none;
margin-left:10px;
}

#venuecard2{
  margin-top:100px;
  width: 26%;
  height: 350px;
  margin-left:560px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin2{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map2{
  text-decoration:none;
  margin-left:10px;
}

#venuecard3{
  margin-top:100px;
  width: 26%;
  height: 350px;
  margin-left:1040px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin3{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map3{
  text-decoration:none;
  margin-left:10px;
}

#venuecard4{
  margin-top:470px;
  width: 26%;
  height: 350px;
  margin-left: 70px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin4{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map4{
  text-decoration:none;
  margin-left:10px;
}

#venuecard5{
  margin-top:470px;
  width: 26%;
  height: 350px;
  margin-left:560px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin5{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map5{
  text-decoration:none;
  margin-left:10px;
}

#venuecard6{
  margin-top:470px;
  width: 26%;
  height: 350px;
  margin-left:1040px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin6{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map6{
  text-decoration:none;
  margin-left:10px;
}

#venuecard7{
  margin-top:840px;
  width: 26%;
  height: 350px;
  margin-left: 70px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin7{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map7{
  text-decoration:none;
  margin-left:10px;
}

#venuecard8{
  margin-top:840px;
  width: 26%;
  height: 350px;
  margin-left:560px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin8{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map8{
  text-decoration:none;
  margin-left:10px;
}
#venuecard9{
  margin-top:840px;
  width: 26%;
  height: 350px;
  margin-left:1040px;
  background: rgb(235, 234, 234);
  position:absolute;
  border-radius: 15px;
}

#margin9{
  margin-left:10px;
  margin-top:12px;
  border-radius:15px;
}

#map9{
  text-decoration:none;
  margin-left:10px;
}

.vcard{
  margin-top: 20px;
  width: 100%;
  height: 1250px;
  background: rgb(250, 246, 246);
}


#booknow{
  background-color:#E72E77;
  color:white;
  border:white;
  height:28px;
  width:77px;
  margin-top:-40px;
  margin-left:285px;
  position:absolute;
  text-decoration: none;
  text-align:center;
}

#booknow{
background-color:#E72E77;
color:white;
border:white;
height:30px;
width:77px;
margin-top:-40px;
margin-left:285px;
position:absolute;
text-decoration: none;
text-align:center;
}

#bname{
  text-align:center;
  margin-left:49px;
  margin-top:100px;
}

#llname
{
  margin-left:540px;
  margin-top:80px;
  text-align:center;
}

#bdate{
  text-align:center;
  margin-left:54px;
  margin-top:50px;
     
}

#lldate{
  margin-left:540px;
  margin-top:80px;
  text-align:center;

}

#starttime{
  text-align:center;
  margin-left:30px;
  margin-top:50px;

}

#sstime{
  margin-left:525px;
  margin-top:80px;
  text-align:center;

}

#endtime{
  text-align:center;
  margin-left:30px;
  margin-top:50px;

}

#etime{
  margin-left:525px;
  margin-top:80px;
  text-align:center;

}

#bsubmit{
  margin-left:710px;
  margin-top:50px;
  background-color:#E72E77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

#date{
  text-align:center;
  margin-left:550px;
  margin-top:90px;
}


#profile{
  margin-left:60px;
  margin-top:4px;
  position:absolute
}

#termimg{
  margin-left:490px;
  margin-top:300px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  position:absolute;
    opacity: 0.5;
}
  
 

#terms{
  margin-left:590px;
  margin-top:100px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
}

#tc{
  position:absolute;
  margin-top:150px;
  margin-left:30px;
  margin-right:30px;
  font-family:'Times New Roman', Times, serif;
  opacity:0.5;
}
#tc:hover{
  opacity:1.0;
}

.venuecards{
  margin-top: 20px;
  width: 100%;
  height: 900px;
  background: rgb(250, 246, 246);
}


#aboutus{
  margin-left:650px;
  margin-top:100px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
}

#aboutimg{
  margin-left:400px;
  margin-top:100px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  position:absolute;
    opacity: 0.5;
}

.venuecarda{
  margin-top: 20px;
  width: 100%;
  height: 550px;
  background: rgb(250, 246, 246);
}

.venuecardd{
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background:black;
}

#dtc{
  position:absolute;
  margin-top:150px;
  margin-left:30px;
  margin-right:30px;
  font-family:'Times New Roman', Times, serif;
  opacity:0.5;
  color:white;

}
#daboutus{
  color:white;
  margin-left:650px;
  margin-top:100px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;

}

#dtc:hover{
  opacity:1.0;
  
}

.venuecardb{
  margin-top: 20px;
  width: 100%;
  height: 800px;
  background: rgb(250, 246, 246);
}

#otp{
    text-align:center;
    margin-left:620px;
     margin-top:50px;
}

#ootp{
  position:absolute;
  text-align:center;
  margin-left:560px;
  margin-top:55px;
}

#cbutton{
  margin-left:710px;
  margin-top:40px;
  background-color:#E72E77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

#ppimg{
  margin-left:425px;
  margin-top:200px;
  position:absolute;
  font-family: 'Times New Roman', Times, serif;
  position:absolute;
    opacity: 0.5;
}

#contactus{
  margin-left:800px; position: absolute;
  margin-top: 30px;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;

}

#name{
  margin-left:700px;
  margin-top:100px;
}

#email{
  margin-left:700px;
  margin-top:25px;
}

#num{
  margin-left:700px;
  margin-top:35px;
}

#message{
  margin-left:700px;
  margin-top:35px;
}

#submit{
  margin-left:920px;
  margin-top:800px;
  background-color:#E72E77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.venuecardc{
  margin-top: 20px;
  width: 100%;
  height: 550px;
  background: rgb(250, 246, 246);
}


#hall{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 10%;
  font-size: 30px;
  margin-top:100px;
  margin-left:700px;
  position: absolute;
}

#mail{
  position:absolute;
  margin-top:230px;
  margin-left: -355px;
}

.bdaycard{
  margin-top: 20px;
  width: 100%;
  height: 470px;
  background: rgb(250, 246, 246);
}

#bdaycard1{
margin-top:100px;
width: 26%;
height: 350px;
margin-left: 60px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#bdaymargin1{
opacity:0.5;
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#bdaymap1{
text-decoration:none;
margin-left:10px;
}

#bdaycard2{
margin-top:100px;
width: 26%;
height: 350px;
margin-left:560px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#bdaymargin2{
opacity:0.5;
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#bdaymap2{
text-decoration:none;
margin-left:10px;
}

#bdaycard3{
margin-top:100px;
width: 26%;
height: 350px;
margin-left:1040px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#bdaymargin3{
opacity:0.5;
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#bdaymap3{
text-decoration:none;
margin-left:10px;
}

#bdaybooknow{
  background-color:#E72E77;
  color:white;
  border:white;
  height:28px;
  width:77px;
  margin-top:-10px;
  margin-left:285px;
  position:absolute;
  text-decoration: none;
  text-align:center;
}

#notavl{
  color: rgb(185, 42, 42);
  opacity: 0.7;
}


.recepcard{
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background: rgb(250, 246, 246);
}

#recepcard1{
margin-top:100px;
width: 26%;
height: 350px;
margin-left: 70px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#recepmargin1{
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#recepmap1{
text-decoration:none;
margin-left:10px;
}

#recepcard2{
margin-top:100px;
width: 26%;
height: 350px;
margin-left:560px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#recepmargin2{
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#recepmap2{
text-decoration:none;
margin-left:10px;
}

#recepcard3{
margin-top:100px;
width: 26%;
height: 350px;
margin-left:1040px;
background: rgb(235, 234, 234);
position:absolute;
border-radius: 15px;
}

#recepmargin3{
margin-left:8px;
margin-top:12px;
border-radius:15px;
}

#recepmap3{
text-decoration:none;
margin-left:10px;
}

#recepbooknow{
  background-color:#E72E77;
  color:white;
  border:white;
  height:28px;
  width:77px;
  margin-top:-10px;
  margin-left:285px;
  position:absolute;
  text-decoration: none;
  text-align:center;
}

#dark{
    position:fixed;
    float:right;
    margin-left:1390px;
}

.darktheme{
  background-color: black;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

#chat{
  font-size:45px;
  font-family: 'Times New Roman', Times, serif;
  color:#E72E77;
  text-align:center;
}

#chatbot{
text-align: center;
}

#cen{
text-align:center;
}

#chatsubmit{
  color:white;
  background-color:#E72E77;
}

#cap{
  margin-top:580px;
  position:absolute;
  margin-left:800px;
  background-color: rgb(237, 193, 208);

}
